*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    background-color: #5993802e;
}
header{
    width: 100%;
    height: 15%;
}
header div h1{
    text-align: center;
    color: black;
    line-height: 100px;
}
main{
    width: 100%;
    height: 85%;
    position: relative;
}
main .container{
    width: fit-content;
    height: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    /* transform: rotateY(90deg); */
}
main .container .time{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width:initial;
    margin: 0 auto;
    padding: 15px 0;
    
}
main .container .time button{
    padding:0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #a52a2a;
    color: white;
}
.frontcard{
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 40px;
    line-height: 100px;
    background-color: white;
    border-radius:10px;
    transition-duration: 3s;
    transition-timing-function: linear;
    transform: translate(0px,0px,-5px)
}
.backcard{
    width: 100px;
    height: 100px;
    margin-top: -100px;
    z-index: 7;
    position: absolute;
    background-image: linear-gradient(to right,#457e6b82,#59938080,#65a7912a);
    border-radius:10px;
    transition: width 800ms;
}
.toggle{
    width: 0px;
}
@media(max-width: 900px) {
    .frontcard{
        width: 70px;
        height: 70px;
        font-size: 20px;
        line-height: 35px;
    }
    .backcard{
        width: 70px;
        height:70px;
        margin-top: -70px;
    }
}
@media(max-width: 400px) {
    .frontcard{
        width: 50px;
        height: 50px;
        font-size: 20px;
        line-height: 35px;
    }
    .backcard{
        width: 50px;
        height:50px;
        margin-top: -50px;
    }
}